
{% extends 'layout.html'%}

{% block content%}
<body>
  <div class="container">
  <form action="{{url_for('register')}}" method = "POST">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Username" name="username">

    </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name" name="name">

  </div>
  <div class="form-group">
  <label for="course">Course</label>
  <input type="text" class="form-control" id="course"  placeholder="Course" name="course">

</div>
<div class="form-group">
<label for="age">Age</label>
<input type="number" class="form-control" id="age"  placeholder="Age" name="age">

</div>
  <button type="submit" class="btn btn-primary">Register</button>
  <a href="{{url_for('students')}}"><button class="btn btn-primary">List of all students</button></a>
</form>
</div>
{% endblock %}
